{%- if section.blocks.size > 0 -%}

  <div class="{% unless section.settings.remove_top_margin %} container--vertical-space {% endunless %} {% if section.settings.remove_bottom_margin %} container--negative-margin {% endif %}">

    <style type="text/css">
      #element-{{ section.id }} {
        --animation-speed: {{ section.settings.speed }}s;
        {% if section.settings.color_background_main != 'rgba(0,0,0,0)' %}
          background: {{ section.settings.color_background_main }};
        {% endif %}
      }
      {% if section.settings.color_text_main != 'rgba(0,0,0,0)' %}
        #element-{{ section.id }}, #element-{{ section.id }} a {
          color: {{ section.settings.color_text_main }};
        }
      {% endif %}
    </style>

    {{ 'section-marquee.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'component-scrolling-text.js' | asset_url }}" defer></script>

    <scrolling-text id="element-{{ section.id }}" class="scrolling-text {{ section.settings.text_size }}" data-scrolling-speed="{{ section.settings.speed }}" data-scrolling-direction="{{ section.settings.scroll_direction }}" data-pause-on-hover="{{ section.settings.pause_on_hover }}" dir="{{ section.settings.scroll_direction }}">
      <div>
        {%- liquid
          for block in section.blocks
            echo '<span class="element--horizontal-space--' | append: section.settings.horizontal_space | append: '">' | append: block.settings.marquee_text | append: '</span>'
          endfor
        -%}
      </div>
    </scrolling-text>

  </div>

{%- endif -%}

{% schema %}
{
  "name": "t:sections.local-extra-words.sections.marquee.name",
  "class": "mount-scrolling-text",
  "settings": [
    {
      "id": "scroll_direction",
      "type": "select",
      "options": [
        {
          "value": "rtl",
          "label": "t:sections.rich-text.settings.text_alignment.options__3.label"
        },
        {
          "value": "ltr",
          "label": "t:sections.rich-text.settings.text_alignment.options__1.label"
        }
      ],
      "default": "ltr",
      "label": "t:sections.local-extra-words.sections.marquee.settings.scroll_direction"
    },
    {
      "type": "range",
      "id": "speed",
      "label": "t:sections.local-extra-words.sections.marquee.settings.scroll_speed",
      "min": 20,
      "max": 300,
      "step": 10,
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "t:sections.local-extra-words.sections.marquee.settings.pause_on_mouseover",
      "default": true
    },
    {
      "type": "select",
      "id": "horizontal_space",
      "label": "t:sections.local-extra-words.settings_schema.layout.grid.horizontal_space",
      "options": [
        {
          "value": "regular-x-2",
          "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__5"
        },
        {
          "value": "large-x-2",
          "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__2"
        },
        {
          "value": "xlarge-x-2",
          "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__3"
        }
      ],
      "default": "regular-x-2"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.label",
      "options": [
          {
            "value": "text-size--small",
            "label": "t:sections.local-extra-words.settings_schema.product-card.title-size.options__1"
          },
          {
            "value": "text-size--large",
            "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__5"
          },
          {
            "value": "text-size--xlarge",
            "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__2"
          }
        ],
        "default": "text-size--xlarge"
    },
    {
      "type": "header",
      "content": "t:sections.bundle-extra-words.settings_schema.labels.design"
    },
    {
      "type": "color",
      "id": "color_background_main",
      "label": "t:sections.split-extra-words.settings_schema.colors.settings.background",
      "default": "#e9e9e9"
    },
    {
      "type": "color",
      "id": "color_text_main",
      "label": "t:sections.split-extra-words.settings_schema.colors.settings.text",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "header",
      "content": "t:sections.bundle-extra-words.sections.headings.gutter.label"
    },
    {
      "type": "checkbox",
      "id": "remove_top_margin",
      "label": "t:sections.local-extra-words.settings_schema.layout.sections.remove_vertical_space",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_bottom_margin",
      "label": "t:sections.local-extra-words.settings_schema.layout.sections.remove_bottom_margin",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.local-extra-words.sections.marquee.settings.scroll_item",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.local-extra-words.sections.headings.text_content"
        },
        {
          "type": "inline_richtext",
          "id": "marquee_text",
          "label": "t:sections.local-extra-words.sections.marquee.settings.scroll_item_text",
          "default": "Introduce product <strong>promotions</strong>. Write about your brand. Flash deals!"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.local-extra-words.sections.marquee.name",
      "blocks": [
        { "type": "text" }
      ]
    }
  ]
}
{% endschema %}