<div class="container--large container--vertical-space remove-empty-space{% if section.settings.gutter_decrease %}-small{% endif %}">

  {%- render 'section-heading', heading: section.settings.heading, subheading: section.settings.subheading, heading_size: section.settings.section_heading_size, section_layout: section.settings.section_heading_layout, button: section.settings.cta_label, button_label: section.settings.cta_label, link: section.settings.cta_url, seo_h_tag: section.settings.seo_h_tag -%}

  <div id="element-{{ section.id }}">

    <div class="grid grid--layout grid-2 grid-lap-1 grid--flippable {% if section.settings.hero_image_position == 'right' %} grid--flippable-flipped {% endif %}">
      
      <div class="grid-1 element--is-sticky">
        <div class="shop-the-look__image" id="shop-the-look-image-{{ section.id }}" style="overflow:hidden">

          {%- capture sizes -%}
            sizes="(max-width: 767px) 100vw, (max-width: {{ settings.theme_max_width }}px) 50vw, {{ settings.theme_max_width | minus: 100 | divided_by: 2 }}px"
          {%- endcapture -%}

          {%- liquid
            if section.index == 1
              assign preload = true
            else
              assign preload = false
            endif
          -%}

          {%- liquid
            if section.settings.image != blank and section.settings.image_mobile != blank
              render 'lazy-image', image: section.settings.image, alt: section.settings.heading, sizes: sizes, class: 'element--hide-on-small lazy-image--to-reveal', preload: preload
            elsif section.settings.image != blank and section.settings.image_mobile == blank
              render 'lazy-image', image: section.settings.image, alt: section.settings.heading, sizes: sizes, class: 'lazy-image--to-reveal', preload: preload
            elsif section.settings.image_mobile != blank
              render 'lazy-svg', image: 'image', ratio: 1, class: 'svg-placeholder svg-placeholder--foreground element--hide-on-small'
            else 
              render 'lazy-svg', image: 'image', ratio: 1, class: 'svg-placeholder svg-placeholder--foreground'
            endif
          -%}

          {%- liquid
            if section.settings.image_mobile != blank
              render 'lazy-image', image: section.settings.image_mobile, alt: section.settings.heading, sizes: sizes, class: 'element--hide-on-desk lazy-image--to-reveal', preload: preload
            endif
          -%}

          {%- if section.settings.image_border_radius > 0 -%}
            {% style %}
              #shop-the-look-image-{{ section.id }},
              #shop-the-look-image-{{ section.id }} figure,
              #shop-the-look-image-{{ section.id }} img {
                border-radius: {{ section.settings.image_border_radius }}px;
              }
            {% endstyle %}
          {%- endif -%}

        </div>
      </div>

      <div class="grid grid--layout grid-2 grid-portable-1 grid-lap-2" style="margin-bottom: calc(-1*var(--gutter-regular));">
        {%- liquid
          if section.settings.product_list != blank
            for product in section.settings.product_list
              render 'product-item', product: product, section_blocks: section.blocks, index: forloop.index, layout: 'grid-4', show_badges: settings.show_badges, section_id: section.id
            endfor
          else
            for i in (1..4)
              render 'product-item', blank_product: true, section_blocks: section.blocks, index: forloop.index
            endfor
          endif
        -%}
      </div>
    </div>

  </div>

  {%- render 'section-footer', button: section.settings.cta_label, button_label: section.settings.cta_label, link: section.settings.cta_url -%}
  
</div>

{% schema %}
  {
    "name": "t:sections.shop-the-look.name",
    "class": "can-be-fullwidth mount-css-slider",
    "blocks": [
      {
        "type": "price",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.price",
        "limit": 1
      },
      {
        "type": "title",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.title",
        "limit": 1
      },
      {
        "type": "description",
        "name": "t:sections.main-product.blocks.description.name",
        "limit": 1,
        "settings": [
          {
            "type": "range",
            "id": "excerpt_limit",
            "label": "t:sections.local-extra-words.sections.blog-posts.blocks.summary.settings.excerpt_limit",
            "info": "t:sections.bundle-extra-words.sections.products_set.blocks.description.info",
            "default": 15,
            "step": 1,
            "min": 5,
            "max": 40
          },
          {
            "type": "checkbox",
            "id": "show_link",
            "label": "t:sections.bundle-extra-words.sections.products_set.blocks.description.link",
            "default": true
          }
        ]
      },
      {
        "type": "vendor",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.vendor",
        "limit": 1
      },
      {
        "type": "rating",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.rating",
        "limit": 1
      },
      {
        "type": "icons",
        "name": "t:sections.local-extra-words.sections.main-product.blocks.icons.name",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.help"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.text.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "metafield",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.text.label",
            "info": "t:sections.local-extra-words.sections.product-card.blocks.text.info",
            "default": "custom.product_text"
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.color.label",
            "options": [
              {
                "value": "",
                "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.text.settings.text_color.option__1"
              },
              {
                "value": "text-color--opacity",
                "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.text.settings.text_color.option__2"
              }
            ],
            "default": "text-color--opacity"
          },
          {
            "type": "checkbox",
            "id": "text_transform",
            "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.transform.label",
            "default": false
          }
        ]
      },
      {
        "type": "quick_buy",
        "name": "t:sections.local-extra-words.sections.product-card.blocks.quick_buy",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_only_available",
            "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.show_only_available.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "variant_default",
            "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.variant_default.label",
            "info": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.variant_default.info",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_price",
            "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.show_price.label",
            "default": true
          },
          { 
            "type": "select",
            "id": "unavailable_variants",
            "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.unavailable_variants.label",
            "options": [
              {
                "value": "disable",
                "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.unavailable_variants.option_2"
              },
              {
                "value": "hide",
                "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.unavailable_variants.option_1"
              },
              {
                "value": "show",
                "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.quick_buy.settings.unavailable_variants.option_3"
              }
            ],
            "default": "hide"
          }
        ]
      },
      {
        "type": "product_link",
        "name": "t:sections.bundle-extra-words.sections.product_grid.blocks.product_link.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.bundle-extra-words.sections.product_grid.blocks.product_link.settings.button_label.label",
            "default": "View product"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:sections.bundle-extra-words.sections.headings.name"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.local-extra-words.sections.headings.heading",
        "default": "Shop the look"
      },
      {
        "type": "inline_richtext",
        "id": "subheading",
        "label": "t:sections.local-extra-words.sections.headings.subheading",
        "default": "Sell through custom images"
      },
      {
        "type": "select",
        "id": "section_heading_size",
        "label": "t:sections.bundle-extra-words.sections.headings.size.label",
        "options": [
          {
            "value": "text-size--regular",
            "label": "t:sections.bundle-extra-words.sections.headings.size.option_1"
          },
          {
            "value": "text-size--large",
            "label": "t:sections.bundle-extra-words.sections.headings.size.option_2"
          }
        ],
        "default": "text-size--regular"
      },
      {
        "type": "select",
        "id": "section_heading_layout",
        "label": "t:sections.bundle-extra-words.sections.headings.alignment.label",
        "options": [
          {
            "value": "section-heading--left section-heading--one-row",
            "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_1",
            "group": "t:sections.bundle-extra-words.sections.headings.layout.option_1"
          },
          {
            "value": "section-heading--left section-heading--two-rows",
            "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_1",
            "group": "t:sections.bundle-extra-words.sections.headings.layout.option_2"
          },
          {
            "value": "section-heading--center section-heading--two-rows",
            "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_2",
            "group": "t:sections.bundle-extra-words.sections.headings.layout.option_2"
          }
        ],
        "default": "section-heading--left section-heading--one-row"
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": "t:sections.bundle-extra-words.settings_schema.labels.button_text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "t:sections.bundle-extra-words.settings_schema.labels.button_url"
      },
      {
        "type": "header",
        "content": "t:sections.bundle-extra-words.sections.products_bundle.settings.content.header"
      },
      {
        "type": "product_list",
        "id": "product_list",
        "limit": 8,
        "label": "t:sections.local-extra-words.sections.main-product.blocks.related.settings.products"
      },
      {
        "type": "header",
        "content": "t:sections.bundle-extra-words.sections.headings.layout.label"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "t:sections.gallery.blocks.image.settings.image.label"
      },
      {
        "id": "image_mobile",
        "type": "image_picker",
        "label": "t:sections.image.mobile_image"
      },
      {
        "type": "select",
        "id": "hero_image_position",
        "label": "t:sections.rich-text.settings.image_position.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_1"
          },
          {
            "value": "right",
            "label": "t:sections.bundle-extra-words.sections.headings.alignment.option_3"
          }
        ],
        "default": "left"
      },
      {
        "type": "range",
        "id": "image_border_radius",
        "label": "t:sections.bundle-extra-words.sections.info_tabs.settings.borders.radius",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:sections.bundle-extra-words.sections.headings.gutter.label"
      },
      {
        "type": "checkbox",
        "id": "gutter_decrease",
        "label": "t:sections.bundle-extra-words.sections.headings.gutter.content",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.refactor_words.seo.name"
      },
      {
        "type": "select",
        "id": "seo_h_tag",
        "label": "t:sections.refactor_words.seo.label",
        "info": "t:sections.refactor_words.seo.info",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "span",
            "label": "span"
          }
        ],
        "default": "h2"
      }
    ],
    "presets": [{
      "name": "t:sections.shop-the-look.name",
      "blocks": [
        { "type": "price" },
        { "type": "title" },
        { "type": "quick_buy" }
      ]
    }],
    "disabled_on": {
      "groups": ["header"],
      "templates": ["password"]
    }
  }
{% endschema %}