{{ 'component-facets-vertical.css' | asset_url | stylesheet_tag }}
{{ 'component-range-slider.css' | asset_url | stylesheet_tag }}

<facet-filters-form class="facets {% if location == 'desktop' %} element--hide-on-small  {% else %} sidebar-large-padding {% endif %}" data-location="{{ location }}">

  <form id="FacetFiltersForm{%- if location == 'mobile' -%} Mobile {%- endif -%}" class="facets__form facets__form--{{ location }} facets__form--vertical">

    {%- if results.terms -%}
      <input type="hidden" name="q" value="{{ results.terms | escape }}">
      <input name="options[prefix]" type="hidden" value="last">
    {%- elsif results.current_vendor or results.current_type -%}
      <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
    {%- endif -%}

    <div>
      {%- if enable_sorting and results.products.size != 0 -%}
        <div class="collection-filters__item sorting">
          <div class="collection-filters__field">
            <label class="collection-filters__label text-weight--medium" for="{{ location }}-SortBy">{{ 'collections.sort_by_label' | t }}</label>
            <div class="select">
              {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
              <select name="sort_by" class="select__select collection-filters__sort" id="{{ location }}-SortBy" aria-describedby="a11y-refresh-page-message">
                {%- for option in results.sort_options -%}
                  <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                {%- endfor -%}
              </select>
            </div>
          </div>
          <noscript>
            <button type="submit" class="button button button--regular button--outline">{{ 'collections.sort_button' | t }}</button>
          </noscript>
        </div>
      {%- endif -%}
    </div>

    {%- if enable_filtering -%}

      {%- if location == 'mobile' -%}
        <div class="active-facets active-facets-mobile">
          {%- liquid
            assign sort_by = results.sort_by | default: results.default_sort_by
            if results.url
              assign results_url = results.url
            else 
              assign terms = results.terms | escape
              assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
            endif
          -%}
          {%- assign has_active_filter = false -%}
          {%- for filter in results.filters -%}
            {%- for value in filter.active_values -%}
              {%- assign has_active_filter = true -%}
              <a class="pill pill--has-close js-facet-remove" href="{{ value.url_to_remove }}">
                <span>
                  {%- if filter.type == 'boolean' -%}
                    {{ filter.label | escape }}:&nbsp;
                  {%- endif -%}
                </span>
                {{ value.label | escape }}
                {%- render 'theme-symbols', icon: 'close-small' -%}
              </a>
            {%- endfor -%}
            {%- if filter.type == "price_range" -%}
              {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                {%- assign has_active_filter = true -%}
                <a class="pill pill--has-close js-facet-remove" href="{{ filter.url_to_remove }}">
                  <span>{%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}</span>
                  {%- render 'theme-symbols', icon: 'close-small' -%}
                </a>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          {%- if has_active_filter -%}
            <a href="{{ results_url }}" class="text-decoration--underline js-facet-remove">{{ 'collections.clear_all' | t }}</a>
            <span class="active-facets__title text-weight--medium">{{ 'collections.active_filters' | t }}</span>
          {%- endif -%}
        </div>
      {%- endif -%}

      <div class="facets__wrapper">

        {%- assign color_label = settings.color_swatches_labels | split: ',' -%}

        {%- for filter in results.filters -%}

          {%- case filter.type -%}
            
            {%- when 'boolean' or 'list' -%}

              <div class="facets__disclosure js-filter" data-index="{{ forloop.index }}-{{ location }}" {% if filter.operator == 'AND' %} data-and-operator {% endif %}>
                
                <span class="facets__summary-text text-weight--medium">
                  {{ filter.label | escape }} 
                </span>

                {%- if filter.operator == 'AND' -%}
                  <span class="facets__and-helper-text text-color--opacity text-size--small" style="display:block">{{ 'collections.match_all_label' | t }}</span>
                {%- endif -%}

                <show-more class="show-more" 
                  data-height="200"
                >
                  <span class="js-show-more show-more_toggler">
                    {{ 'general.accessibility_labels.show_more' | t }}
                  </span>
                  
                  <div class="show-more_panel">
                    <div class="facets__display">
                      <ul class="facets__list list-unstyled" role="list">
                        {%- liquid
                          assign sorted_values = filter.values
                          if filter.operator == 'AND'  
                            assign active_filter_values = filter.values | where: 'active', true
                            assign inactive_filter_values = filter.values | where: 'active', false
                            assign sorted_values = active_filter_values | concat: inactive_filter_values
                          endif
                        -%}
                        {%- for value in sorted_values -%}
                          {%- assign filter_downcased = filter.label | downcase -%}
                          <li class="list-menu__item facets__item {% if color_label contains filter_downcased and settings.color_swatches %} facets__item--swatch {% endif %}">
                            <label for="{{ location }}-Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                              <input type="checkbox"
                                class="styled-checkbox"
                                name="{{ value.param_name }}"
                                value="{{ value.value }}"
                                id="{{ location }}-Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                {% if value.active %}checked{% endif %}
                                {% if value.count == 0 and value.active == false %}disabled{% endif %}
                              >
                              {%- if color_label contains filter_downcased and settings.color_swatches -%}
                                {%- liquid 
                                  assign color_swatch_name = value.value | handle | append: '.png'
                                  assign color_swatch_image = images[color_swatch_name]
                                  assign color_swatch_background = value.value | downcase | escape | replace: ' ', ''
                                -%}
                                {%- if color_swatch_image != blank -%}
                                  <img class="swatch swatch--color"
                                    src="{{ color_swatch_image | image_url: width: 30, height: 30, crop: 'center' }}"
                                    srcset="
                                      {{ color_swatch_image | image_url: width: 30, height: 30, crop: 'center' }} 30w,
                                      {{ color_swatch_image | image_url: width: 60, height: 60, crop: 'center' }} 60w,
                                      {{ color_swatch_image | image_url: width: 90, height: 90, crop: 'center' }} 90w
                                    "
                                    sizes="30px" width="30" height="30"
                                    loading="lazy"
                                    alt="{{ color_swatch_image.alt | escape }}"
                                  />
                                {%- else -%}
                                  <span class="swatch swatch--image" style="background-color:{{ color_swatch_background }}"></span>
                                {%- endif -%}
                              {%- endif -%}
                              {{ value.label | escape }} ({{ value.count }})
                            </label>
                          </li>
                        {%- endfor -%}
                      </ul>
                      
                    </div>
                  </div>

                </show-more>
                
              </div>

            {%- when 'price_range' -%}
              {%- liquid 
                assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,TRY,UYU,VES,VND' | split: ','
                assign uses_comma_decimals = false
                if currencies_using_comma_decimals contains cart.currency.iso_code
                  assign uses_comma_decimals = true
                endif
              -%}

              <div class="facets__disclosure js-filter" data-index="{{ forloop.index }}-{{ location }}">
                
                <span class="facets__summary-text text-weight--medium">
                  {{ filter.label | escape }} 
                </span>
                
                <div>
                  
                  <price-range class="facets__price">
                    <div class="field">
                      <label class="field__label visually-hidden" for="{{ location }}-Search-In-Modal">{{ 'collections.from' | t }}</label>
                      <span class="field__currency">{{ cart.currency.symbol }}</span>
                      <input class="field__input"
                        name="{{ filter.min_value.param_name }}"
                        id="{{ location }}-Filter-{{ filter.label | escape }}-GTE"
                        {%- if filter.min_value.value -%}
                          {%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | round }}"{% endif %}
                        {%- endif -%}
                        type="number"
                        placeholder="0"
                        min="0"
                        {%- if uses_comma_decimals -%}max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"{%- else -%}max="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"{% endif %}
                      >
                    </div>
                    <label class="field__label" for="{{ location }}-Search-In-Modal">{{ 'collections.to' | t }}</label>
                    <div class="field">
                      <span class="field__currency">{{ cart.currency.symbol }}</span>
                      <input class="field__input"
                        name="{{ filter.max_value.param_name }}"
                        id="{{ location }}-Filter-{{ filter.label | escape }}-LTE"
                        {%- if filter.max_value.value -%}{%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | ceil }}"{% endif %}
                        {%- endif -%}
                        type="number"
                        min="0"
                        {%- if uses_comma_decimals -%}
                          placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                          max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | ceil }}"
                        {%- else -%}
                          placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' | ceil }}"
                        {% endif %}
                      >
                    </div>
                  </price-range>
                  
                  <div
                    id="{{ location }}-facets-price-range-slider"
                    data-js-price-range-slider
                  ></div>

                </div>
                
              </div>

          {%- endcase -%}

        {%- endfor -%}

        <noscript>
          <button type="submit" class="facets__button button button--regular button--outline">{{ 'collections.filter_button' | t }}</button>
        </noscript>

      </div>
    {%- endif -%}
  </form>

</facet-filters-form>

<script src="{{ 'component-show-more.js' | asset_url }}" defer></script>