<div class="{{ class }}" style="{{ style }}">

  {%- if heading_position == 'outside' -%}
    <div class="text-weight--medium gutter-bottom--small gutter-top--small">{{ heading | escape }}</div>
  {%- endif -%}

  <div class="sidebar-widget sidebar-widget--{{ widget_style }}">

    {%- if heading_position == 'inside' -%}
      <span class="sidebar-widget__title">{{ heading | escape }}</span>
    {%- endif -%}

    <div class="sidebar-widget__content" {% if heading_position == 'outside' %} style="padding:20px" {% endif %}>

      {%- if heading_position == 'widget' -%}
        <span class="text-weight--medium gutter-bottom--small"
          style="display:block;border-bottom: solid 1px var(--color-secondary-background-main); margin-bottom: var(--gutter-regular)"
        >{{ heading | escape }}</span>
      {%- endif -%}

      <div class="product-item-compact product-item-compact--expanded">

        <div class="product-item-compact__image">
          <a href="{{ product.url }}">
            {%- render 'lazy-image-small', image: product.featured_media, aspect_ratio: settings.cart_image_ratio, fit: settings.cart_image_fit, class: 'lazy-image--scale-animation' -%}
          </a>
        </div>
        
        <div class="product-item-compact__details">

          <div class="product-item-compact__price" id="product-price-{{ id }}" data-js-product-price>
            <span data-js-product-price-original>
              {%- unless product == blank -%}
                {%- liquid
                  if product.price_varies
                    assign produce_price = product.price_min | money
                    if product.compare_at_price > product.price 
                      echo 'products.grid.on_sale_from_html' | t: price: produce_price 
                    else
                      echo 'products.grid.from_text_html' | t: price: produce_price
                    endif
                  else
                    echo product.price | money
                  endif
                -%}
              </span>
              <del data-js-product-price-compare>
                {%- liquid 
                  if product.compare_at_price > product.price
                    echo product.compare_at_price | money | prepend: '<span>' | append: '</span>'
                  endif
                -%}
              </del>
              <span data-js-product-price-unit style="display:none"></span>
            {%- else -%}
              {{ 9999 | money }}
            {%- endunless -%}
          </div>


          <a href="{{ product.url }}" class="">
            <span class="text-animation--underline-thin text-weight--bold">{%- liquid
              unless product == blank
                echo product.title | escape
              else
                echo 'general.onboarding.product_title' | t
              endunless 
            -%}</span>
          </a>

          {%- if product.available -%}
            <div class="product-item-compact__form">
              {%- liquid
                if heading_position == 'inside'
                  assign defer_ajax_cart = false
                else
                  assign defer_ajax_cart = true
                endif
                render 'quick-buy', product: product, defer_ajax_cart: defer_ajax_cart, variants_style: 'select', button_style: 'solid', show_color_swatches: false, change_variant_images: false, default_to_first_variant: false, add_to_cart_price: false, show_variant_quantities: "no", unavailable_variants: 'hide'.settings.unavailable_variants, id: id
              -%}
            </div>
          {%- endif -%}
          
        </div>
      </div>

    </div>
  </div>
</div>