{%- liquid
	assign links_class = "text-animation--underline-in-header" 
	if type == 'sidebar'
		assign links_weight = 'text-weight--bold text-size--large'
	endif
-%}

{%- for link in linklists[linklist].links -%}

	<li 
		{% if link.links != blank %}
			class="has-submenu" aria-controls="SiteNavLabel-{{ link.handle }}-{{ type }}" aria-expanded="false" 
		{% endif %} 
		id="menu-item-{{ link.handle }}-{{ type }}"
	>

		<a class="menu-link {% if link.active or link.child_active %} active {% endif %} {% unless link.links != blank %} no-focus-link {% endunless %} {{ links_weight }}" href="{{ link.url }}">

			<span><span class="{{ links_class }}">{{ link.title | escape }}</span></span>

			{% if link.links != blank %}
				<span class="icon">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
			{% endif %}

		</a>

		{% if link.links != blank %}

			<ul class="submenu normal-menu" id="SiteNavLabel-{{ link.handle }}-{{ type }}">

				<div class="submenu-holder">

					{%- if type == 'sidebar' -%}
						<li class="submenu-back">
							<a><span class="icon">{%- render 'theme-symbols', icon: 'chevron' -%}</span>{{ 'general.accessibility_labels.back' | t }}</a>
						</li>
					{%- endif -%}

						{%- for childlink in link.links -%}

							<li 
								{% if childlink.links != blank %}
									class="has-babymenu" aria-controls="SiteNavLabel-{{ childlink.handle }}-{{ type }}" aria-expanded="false"
								{% endif %}
							>

								<a class="menu-link {% if childlink.active or childlink.child_active %} active {% endif %} {% unless childlink.links != blank %} no-focus-link {% endunless %} {{ links_weight }}" href="{{ childlink.url }}">
									<span><span class="{{ links_class }}">{{ childlink.title | escape }}</span></span>
									{%- if childlink.links != blank -%}
										<span class="icon">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
									{%- endif -%}
								</a>

								{%- if childlink.links != blank -%}

									<div class="babymenu">
										<ul id="SiteNavLabel-{{ childlink.handle }}-{{ type }}">

											{%- if type == 'sidebar' -%}
												<li class="submenu-back">
													<a><span class="icon">{%- render 'theme-symbols', icon: 'chevron' -%}</span>{{ 'general.accessibility_labels.back' | t }}</a>
												</li>
											{%- endif -%}

											{% for babylink in childlink.links %}
												<li><a class="menu-link {% if babylink.active %} active {% endif %} no-focus-link {{ links_weight }}" href="{{ babylink.url }}"><span><span class="{{ links_class }}">{{ babylink.title | escape }}</span></span></a></li>
											{% endfor %}

										</ul>
									</div>

								{%- endif -%}

							</li>

						{%- endfor -%}

				</div>

			</ul>

		{% endif %}

	</li>

{%- endfor -%}